.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 5%;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__ul {
  display: flex;
  justify-content: space-between;
}

.nav_a {
  color: #2e363e;
  position: relative;
  font-size: 0.7rem;
}

.nav__notification {
  position: absolute;
  left: 17px;
  bottom: 12px;
}

.nav__dot {
  position: absolute;
  left: 32px;
}
